@import "./sass/params";

.input_group {
  display: flex;
  align-items: flex-end;

  label {
    margin: 0 5px;
    width: 42%;
  }
  input[type="text"] {
    border-radius: 3px;
    border: 1px solid $grey;
    padding: 3px 7px;
    height: 25px;
    margin: 5px 0 0 5px;
    width: 94%;
    font-size: 14px;
  }
}
